# This file is used for Git repositories to specify intentionally untracked files that Git should ignore.
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json


# LWC configuration files
**/jsconfig.json
**/.eslintrc.json

# LWC Jest
**/__tests__/**

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Standard metadata
package.xml

# These metadata files are ignored when promoting (deploying)
**/appMenus/**
**/appSwitcher/**
**/fieldRestrictionRules/**
**/objectTranslations/**
**/profiles/**
**/profilePasswordPolicy/**
**/profileSessionSetting/**
**/settings/**
**/sharingRules/**
**/AuthProvider/**

# These metadata files are ignored when pulling (retrieving)
*.settings
*.appMenu
*.appSwitcher
*.rule
*.objectTranslation
*.profile
*.profilePasswordPolicy
*.profileSessionSetting
*.sharingRules
*.AuthProvider

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env
